name: "sadhn"

services:
  server:
    build: ./server
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env

  client:
    build: ./client
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - ./client/.env
    depends_on:
      - server

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - client
      - server